<!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-start">
    <a routerLink="article" routerLinkActive="active">Article</a>
    <a routerLink="template" routerLinkActive="active">Template</a>
    <a routerLink="sample" routerLinkActive="active">Sample</a>
</div> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-sample></app-sample> -->
<!-- <app-template></app-template> -->
<!-- <app-simple-form></app-simple-form> -->
<!-- <app-article-management></app-article-management> -->
<!-- <app-library-management></app-library-management> -->
<!-- <app-using-api></app-using-api> -->
<app-series></app-series>

<!-- <router-outlet></router-outlet> -->
